@font-face {
  font-family: lightLemonMilk;
  src: url('/assets/fonts/LEMONMILK-Light.otf');
}

@font-face {
  font-family: mediumLemonMilk;
  src: url('/assets/fonts/LEMONMILK-Medium.otf');
}

@page {
  size: A4;
}

html {
  margin: 0;
  box-sizing: border-box;
  background: #e4e4e4;
  font-family: mediumLemonMilk;
}

input {
  font-family: inherit;
  text-align: center;
  color: #aca2a3;
  letter-spacing: 2px;
  width: 100%;
  background: none;
  border: none;
}

input.h2 {
  font-size: .5em;
  line-height: .5em;
  font-family: lightLemonMilk;
}

img {
  height: 140px;
  width: initial;
  object-fit: contain;
}

.page {
  width: 21cm;
  height: 29.7cm;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  background: #fff;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

  /* découpe */
  border-left: dashed 1px black;
  border-top: dashed 1px black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 2mm;
  max-height: calc(29.7cm / 5 - 2mm);

  /* découpe */
  border-right: dashed 1px black;
  border-bottom: dashed 1px black;
}

.remove {
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #d40015;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 80px;
  color: #00a300;
}

@media print {

  body,
  .page {
    margin: 0;
    box-shadow: 0;
    margin-bottom: 2mm;
  }

  .remove,
  .add {
    display: none;
  }

  .remove-page .page:last-child {
    display: none;
  }
}
